default:
  suites:
    default:
      contexts:
        - App\Tests\Acceptance\Context\TaskContext
        - App\Tests\Acceptance\Context\KernelContext
  extensions:
    FriendsOfBehat\SymfonyExtension:
      bootstrap: 'tests/bootstrap.php'
      kernel:
        class: App\Core\Kernel
        debug: true
